{% extends "./_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}
<div class="container" data-module="examples/RefState">
  <input type="text" name="email" autocomplete="off" />
</div>
{% endblock %}
